body{
  background: rgb(30,30,70)
}

input {
  all: unset;
}

button{
  all: unset;
}

#lockContainer{

  height: 35vh;
  position: relative;
  top: 10vh;

}

#lockImage{
  position: absolute;
  left: calc(50vw - 15vh);
  height: 30vh;
  filter: drop-shadow(0px 0px 2vh black);
  animation: MoveUpDown 3s ease-in-out infinite;
}

.passwordContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordLabel{
  color: white;
  font-size: 10vh;
  filter: drop-shadow(0px 0px 2vh white);
  margin-bottom: 2vh;
}

.passwordInput{
  font-size: 5vh;
  margin-top: 0;
  font-family: "Times New Roman";
  width: 60vh;
  padding: 0px;
  background: white;
  margin-bottom: 1vh;
  opacity: 0.7;
  padding: 1vh;
  transition: all 0.25s;
}

.passwordInput:focus{
  opacity: 1 !important;
}

.passwordSubmit{
  width: 60vh;
  height: 7vh;
  background: black;
  text-align: center;
  font-size: 4.5vh;
  color: white;
  padding: 1vh;
  transition: all 0.1s;
  font-family: "Times New Roman";
}

.passwordSubmit:hover:enabled{
  cursor: pointer;
  background: rgb(30,30,30);
}

.passwordSubmit:active:enabled{
  cursor: pointer;
  background: rgb(45,45,45);
}

.passwordSubmit:disabled{
  opacity: 0.5;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(1vh);
  }
  50% {
    transform: translateY(-1vh);
  }
}
